
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/tailwindcss/dist/output.css">

    <style>
        @font-face {
            font-family: 'Poppins-light';
            src:url("../../static/fonts/Poppins/Poppins-light.ttf");
        }

        @font-face {
            font-family: 'Poppins-medium';
            src:url("/static/fonts/Poppins/Poppins-medium.ttf");
        }

        body{
            font-family: 'Poppins-light';
        }
        

        svg{
            max-width: 100%;
        }
    </style>
</head>
<body class="p-2">

  <div class="cards mt-2 tw-grid lg:tw-grid-cols-2">
        
        <div class="card shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-theme-1">
             <div class="tw-flex tw-justify-between">
                <h4 class="tw-text-theme-1">Calculus with analysis</h4>
                <div class="tw-w-6">
                    <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                </div>

             </div>
            <p>
               A first year course I have to take in order to get introduced to calculus 1 and 2
            </p>

            <div>
                <div class="tw-text-slate-500">
                    created on: Oct. 25, 2023, 12:48 p.m. 
                </div>
                <div class="tw-text-slate-500">
                    status: In progress 
                </div>
                <div class="tw-text-slate-500">
                    deadline: Oct. 28, 2023, noon
                </div>
            </div>
        </div>
        
        <div class="card shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-theme-2">
             <div class="tw-flex tw-justify-between">
                <h4 class="tw-text-theme-2">Visit Dubai</h4>
                <div class="tw-w-6">
                    <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                </div>

             </div>
            <p>
               I want to take trip to Dubai
            </p>

            <div>
                <div class="tw-text-slate-500">
                    created on: Oct. 25, 2023, 1 p.m. 
                </div>
                <div class="tw-text-slate-500">
                    status: In progress 
                </div>
                <div class="tw-text-slate-500">
                    deadline: Oct. 26, 2023, 6 a.m.
                </div>
            </div>
        </div>
        
        <div class="card shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-theme-1">
             <div class="tw-flex tw-justify-between">
                <h4 class="tw-text-theme-1">Read some django documentation</h4>
                <div class="tw-w-6">
                    <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                </div>

             </div>
            <p>
               I want to read the django documentation for how to work with request.POST
            </p>

            <div>
                <div class="tw-text-slate-500">
                    created on: Oct. 25, 2023, 1:09 p.m. 
                </div>
                <div class="tw-text-slate-500">
                    status: Yet to start 👌 
                </div>
                <div class="tw-text-slate-500">
                    deadline: Oct. 26, 2023, 6 a.m.
                </div>
            </div>
        </div>
        
        <div class="card shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-theme-3">
             <div class="tw-flex tw-justify-between">
                <h4 class="tw-text-theme-3">Go and see Emily</h4>
                <div class="tw-w-6">
                    <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                </div>

             </div>
            <p>
               None
            </p>

            <div>
                <div class="tw-text-slate-500">
                    created on: Oct. 25, 2023, 1:14 p.m. 
                </div>
                <div class="tw-text-slate-500">
                    status: Yet to start ❤️ 
                </div>
                <div class="tw-text-slate-500">
                    deadline: Oct. 25, 2023, 6 p.m.
                </div>
            </div>
        </div>
        
        <div class="card shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-theme-4">
             <div class="tw-flex tw-justify-between">
                <h4 class="tw-text-theme-4">General meeting</h4>
                <div class="tw-w-6">
                    <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                </div>

             </div>
            <p>
               I am going for a work meeting
            </p>

            <div>
                <div class="tw-text-slate-500">
                    created on: Oct. 25, 2023, 2:39 p.m. 
                </div>
                <div class="tw-text-slate-500">
                    status: Yet to start 
                </div>
                <div class="tw-text-slate-500">
                    deadline: Oct. 25, 2023, 6 p.m.
                </div>
            </div>
        </div>
        
  </div>
</body>
</html>