{% extends 'core/base.html' %}
{% block title %}Events{% endblock %}

{% block main_content %}
<div class="visually-hidden">
  <!-- not actually part of the code but just used to set up {{task.label.theme}} -->
  <div class="tw-border-e-theme-1">
  </div>
  <div class="tw-border-e-theme-2">
  </div>
  <div class="tw-border-e-theme-3">
  </div>
  <div class="tw-border-e-theme-4">
  </div>
</div>

<div class="lg:tw-p-4 tw-p-2 tw-pb-12">
    {% if today %}
      <div>
        <h3 class="tw-underline tw-underline-offset-8 m-2 mb-4">Events Today</h3>
      </div>
      <div class="cards mt-2 tw-grid lg:tw-grid-cols-3 tw-items-start">
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Dropdown header</h6></li> (optional)
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->
            {% for task in today %}
            <div class="card tw-border-0 tw-rounded-md shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-{{task.label.theme}}">
              <div class="tw-flex tw-justify-between">
                 <h4 class="tw-whitespace-nowrap tw-text-ellipsis tw-overflow-hidden">{{task.title}}</h4>
                 <div class="dropdown">
                     <div class="tw-w-6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                     </div>

                     <!-- tw-border-0 to get rid of bootstrap original borders -->
      
                     <ul class="dropdown-menu tw-border-0 tw-shadow-lg tw-border-e-[3px] tw-relative tw-z-[1] tw-border-e-{{task.label.theme}}">
                         <!-- <li><h6 class="dropdown-header">Add a setting</h6></li> -->
                         <li><a class="dropdown-item" href="{% url 'edit-task' task.id %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                           Edit task
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                             <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                             <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                           </svg>
                           Change label
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                             <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                         </svg>
                          Mark as done
                         </a></li>
                         <li>
                         <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-{{task.id}}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                           </svg>
                            Delete task
                         </a>
                       </li>
                     </ul>

                 </div>
 
              </div>
             <p>
                {{task.description}}
             </p>
 
             <div class="tw-text-slate-500">
                 <div>
                     created on: {{task.date_created}}
                 </div>
                 <div>
                     status: {{task.status}}
                 </div>
                 <div>
                     deadline: {{task.deadline}}
                 </div>
             </div>
           </div>

           <div class="modal fade" id="delete-modal-{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content tw-border-0">
                <div class="modal-header border-0">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Sure you want to delete ? This action cannot be undone 
                </div>
                <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                  <a class="btn btn-primary btn-sm" href="{% url 'delete-task' task.id %}">Confirm</a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
      </div>
    {% endif %}
    
    {% if tomorrow %}
      <div>
        <h3 class="tw-underline tw-underline-offset-8 m-2 mt-4 mb-4">Tomorrow</h3>
      </div>
      <div class="cards mt-2 tw-grid lg:tw-grid-cols-3 tw-items-start">
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Dropdown header</h6></li> (optional)
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->
        
            {% for task in tomorrow %}
            <div class="card tw-border-0 tw-rounded-md shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-{{task.label.theme}}">
              <div class="tw-flex tw-justify-between">
                 <h4 class="tw-whitespace-nowrap tw-text-ellipsis tw-overflow-hidden">{{task.title}}</h4>
                 <div class="dropdown">
                     <div class="tw-w-6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                     </div>

                     <!-- tw-border-0 to get rid of bootstrap original borders -->
      
                     <ul class="dropdown-menu tw-border-0 tw-shadow-lg tw-border-e-[3px] tw-relative tw-z-[1] tw-border-e-{{task.label.theme}}">
                         <!-- <li><h6 class="dropdown-header">Add a setting</h6></li> -->
                         <li><a class="dropdown-item" href="{% url 'edit-task' task.id %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                           Edit task
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                             <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                             <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                           </svg>
                           Change label
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                             <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                         </svg>
                          Mark as done
                         </a></li>
                         <li>
                         <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-{{task.id}}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                           </svg>
                            Delete task
                         </a>
                       </li>
                     </ul>

                 </div>
 
              </div>
             <p>
                {{task.description}}
             </p>
 
             <div class="tw-text-slate-500">
                 <div>
                     created on: {{task.date_created}}
                 </div>
                 <div>
                     status: {{task.status}}
                 </div>
                 <div>
                     deadline: {{task.deadline}}
                 </div>
             </div>
           </div>

           <div class="modal fade" id="delete-modal-{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content tw-border-0">
                <div class="modal-header border-0">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Sure you want to delete ? This action cannot be undone 
                </div>
                <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                  <a class="btn btn-primary btn-sm" href="{% url 'delete-task' task.id %}">Confirm</a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
      </div>
        {% endif %}
    
    {% if upcoming %}
      <div>
        <h3 class="tw-underline tw-underline-offset-8 m-2 mt-4 mb-4">Upcoming Events</h3>
      </div>
      <div class="cards mt-2 tw-grid lg:tw-grid-cols-3 tw-items-start">
        <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><h6 class="dropdown-header">Dropdown header</h6></li> (optional)
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div> -->
            {% for task in upcoming %}
            <div class="card tw-border-0 tw-rounded-md shadow-sm m-2 p-3 tw-border-s-4 tw-border-s-{{task.label.theme}}">
              <div class="tw-flex tw-justify-between">
                 <h4 class="tw-whitespace-nowrap tw-text-ellipsis tw-overflow-hidden">{{task.title}}</h4>
                 <div class="dropdown">
                     <div class="tw-w-6" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <svg class="tw-stroke-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="12" r="1.5" fill="#ffffff"></circle> <circle cx="12" cy="18" r="1.5" fill="#ffffff"></circle> </g></svg>
                     </div>

                     <!-- tw-border-0 to get rid of bootstrap original borders -->
      
                     <ul class="dropdown-menu tw-border-0 tw-shadow-lg tw-border-e-[3px] tw-relative tw-z-[1] tw-border-e-{{task.label.theme}}">
                         <!-- <li><h6 class="dropdown-header">Add a setting</h6></li> -->
                         <li><a class="dropdown-item" href="{% url 'edit-task' task.id %}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                           Edit task
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                             <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                             <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                           </svg>
                           Change label
                         </a></li>
                         <li><a class="dropdown-item" href="#">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                             <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                         </svg>
                          Mark as done
                         </a></li>
                         <li>
                         <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete-modal-{{task.id}}">
                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                             <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                             <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                           </svg>
                            Delete task
                         </a>
                       </li>
                     </ul>

                 </div>
 
              </div>
             <p>
                {{task.description}}
             </p>
 
             <div class="tw-text-slate-500">
                 <div>
                     created on: {{task.date_created}}
                 </div>
                 <div>
                     status: {{task.status}}
                 </div>
                 <div>
                     deadline: {{task.deadline}}
                 </div>
             </div>
           </div>

           <div class="modal fade" id="delete-modal-{{task.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content tw-border-0">
                <div class="modal-header border-0">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Sure you want to delete ? This action cannot be undone 
                </div>
                <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                  <a class="btn btn-primary btn-sm" href="{% url 'delete-task' task.id %}">Confirm</a>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
      </div>
        {% endif %}
</div>


<!-- modals -->

<button class="visually-hidden" data-bs-toggle="modal" data-bs-target="#generalModal" id="hiddenButton" onclick="show()"></button>

<div class="modal fade" id="generalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content tw-border-0" style="background:transparent;">
      <!-- <div class="modal-header border-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
            <div class="alert alert-success text-center">
            {% for message in messages %}
              {{message}}
            {% endfor %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
            </svg>
            </div>
      </div>
      <!-- <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-primary btn-sm" href="#">Confirm</a>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  {% if messages %}
    <script>
      const show = () => {
          document.getElementById('hiddenButton').click(); 
      };

      show(); 
    </script>
  {% endif %}
{% endblock %}
